<footer class="footer">
  <small>
    PG App
    by Andrea Carolina Buitrago
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "MAGPIE", 'http://cjimenez.virtual.uniandes.edu.co/investigacion/proyectos/pervasive-solutions/magpie/' %></li>
    </ul>
  </nav>
</footer>
